<footer>
	<div class="container forPad">
		<div class="col-sm-4">
		<h6>Copyright &copy; 2017</h6>
				
		</div>
		<div class="col-sm-4">
		<p>Traveller<br>Bangalore, India<br>110001</p>		
		</div>

		<!--<div class="col-sm-4">
		<p>IAF</p>-->
		
		
		<div id="social col-sm-4">
				<p class="pulled">Follow us on</p>
				 <a href="http://www.facebook.com" target="_blank">
        			<img class="icons" src="../images/fb.png" alt="Facebook" />
    			</a>
    			<a href="http://www.google.com" target="_blank">
        			<img class="icons" src="../images/gogle.png" alt="googleplus" />
    			</a>
    			<a href="http://www.instagram.com" target="_blank">
        			<img class="icons" src="../images/instagram.png" alt="instagram" />
    			</a>
    			<a href="http://www.twitter.com" target="_blank">
        			<img class="icons" src="../images/twitter.png" alt="twitter" />
    			</a>
    	</div>
		
		
	</div> <!--End container-->
			
			
	</footer>